<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hb.hkm.hypebeaststore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Used to adjust the work load depending on the type of network the device is using. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Used to load images from the gallery content provider. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Used to load images for contact photos. -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- parse.com -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->

    <!--
      IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:protectionLevel="signature"
        android:name="com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/hbstoreicon"
        android:theme="@style/AppTheme"
        android:name=".life.LifeCycleApp"
        tools:ignore="InnerclassSeparator">
        <activity
            android:theme="@style/homePageBar"
            android:name=".StoreFrontHB"
            android:parentActivityName=".StoreFrontV1" />

        <activity
            android:name=".CartWebViewStyleTopBar"
            android:label="My Cart" />
        <activity
            android:theme="@style/homePageBar"
            android:name=".CartWebView"
            android:label="My Cart" />
        <activity
            android:theme="@style/homePageBar"
            android:name=".HBStoreV1"
            android:label="@string/store_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".zoomimage"
            android:label="ProductView"
            android:theme="@style/slidrApp" />
        <activity
            android:name=".HBStoreV4"
            android:label="@string/store_name" />
        <activity
            android:label="Wist List"
            android:name=".HBWishList"
            android:theme="@style/homePageBar"
            android:parentActivityName=".StoreFrontHB" />
        <activity
            android:label="@string/store_name"
            android:name=".HBStoreV3" />
        <activity
            android:theme="@style/slidrApp"
            android:label="@string/store_name"
            android:name=".EasyURLredirect" />


        <activity
            android:theme="@style/homePageBar"
            android:name=".StoreFrontV1"
            android:label="@string/store_name" />
        <activity
            android:name=".HBStoreV2"
            android:label="@string/store_name" />
        <activity
            android:name=".GsonTestCase1"
            android:label="@string/app_name" />
        <activity
            android:name=".ProductSingle"
            android:label="Product"
            android:parentActivityName=".StoreFrontV1" />

        <activity
            android:theme="@style/slidrApp"
            android:name=".SelectView"
            android:label="selection" />
        <activity
            android:theme="@style/homePageBar"
            android:name=".SimpleBrands"
            android:label="Brands"
            android:parentActivityName=".HBStoreV1" />
        <activity
            android:name=".HBLogin"
            android:label="Login Now"
            android:theme="@style/slidrAppDark"
            tools:ignore="DuplicateActivity" />
        <!-- parse.com -->
        <!-- replace @drawable/push_icon with your push icon identifier -->
        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/hbstoreicon" />
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
