<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hb.hkm.hypebeaststore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Used to adjust the work load depending on the type of network the device is using. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Used to load images from the gallery content provider. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Used to load images for contact photos. -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".controller.App"
        tools:ignore="InnerclassSeparator">
        <activity
            android:name=".HomeStoreNative"
            android:label="HomeStore">


            </activity>
        <activity
            android:name=".HomeStoreWeb"
            android:label="HomeStore">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StoreFront"
            android:label="@string/app_name">


        </activity>

        <activity
            android:name=".GsonTestCase1"
            android:label="@string/app_name">

        </activity>


        <activity
            android:name=".ProductSingle"
            android:label="Product"
            android:parentActivityName=".StoreFront">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoreFront" />
        </activity>

        <activity
            android:name=".SelectView"
            android:label="selection" />


        <activity
            android:name=".HBLogin"
            android:label="Login Now"
            tools:ignore="DuplicateActivity">

        </activity>
    </application>

</manifest>
